body{

    background-color: black;
}
.rahat{
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
}
.roman{
    background-color: rgb(201, 177, 177);
    width: 300px;
    height: 250px;
    margin-left: 40%;
    border: 3px solid red;
    border-radius: 70%;
    box-shadow: 5px 5px 8px green;
   
   
}
img{
    height: 250px;
    width: 300px;
    border-radius: 50%;
}

h3{
    color: aliceblue;
    text-align: center;
    text-transform: capitalize;
}
.jamil{
    color: rgb(189, 6, 6);
    text-align: center;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
p{
    margin: 10px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.log{
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}
#fahim{
    background-color:rgb(185, 58, 58);
    height: 280px;
    width: 500px;
    margin-left: 33%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 5px 8px 10px rgb(160, 148, 148);
}
.from{
    padding: 50px;
    padding-left: 25%;
   
}
b{
    font-size: 18px;
    text-transform: capitalize;
   
}
.tanim{
    color: rgb(197, 44, 6);
    text-transform: capitalize;
    margin-left: 8px;
    margin-bottom: 20px;
}
input{
    padding: 8px 28px;
    border-radius: 10px;
}
input[type="submit"]{
    padding: 5px 8px;

}
input[type="reset"]{
    padding: 5px 8px;
    
}
button{
    
    padding: 8px 18px;
    margin-left: 20%;
    background-color: chartreuse;
    color: black;
    border-radius: 15px;
}
button:hover{
  background-color: aqua;
}